# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:

* Some of the popular languages that Data Scientists use are:
* Some of the commonly used libraries used by Data Scientists include:
* Data Science Tools

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. JSON

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Plotly
3. Scipy

| Data Science Tools | 
|--------|
|  Apache Spark  | 
| Jupyter Notebook   |  
|  Tenser Fow  |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [4]:
200/60

3.3333333333333335

## Author
    Rutwik